
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}

<div class="logo">
    <a href="."><img src="img/logo.png" alt=""></a>
</div>
<div class="text-center mt-4 name">
    Ticky Box
</div>
<form class="p-3 mt-3">
    <div class="form-field d-flex align-items-center">
        <input type="text" name="userName" id="userName" placeholder="Username">
    </div>
    <div class="form-field d-flex align-items-center">
        <input type="password" name="password" id="pwd" placeholder="Password">
    </div>
    <button class="btn mt-3">Login</button>
</form>
<div class="text-center fs-6">
    <a href="#">Forget password?</a> or <a href="#">Sign up</a>
</div>